  @media print {  }
  @media screen {  }
  @media screen, print {  }
.logo {
  width: 30%;
  padding-top: 10px;
}
.footer a{
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.footer {
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
  body {
margin: 0;
padding: 0;
background: url(https://i.imgur.com/2pFkTzx.png);
}
.coluna1 {
padding-top: 5px;
padding-bottom: 5px;
width: 6.8%;
text-align: center;
vertical-align: middle;
display: inline-block;
}
.ads {
padding-top: 5px;
float: left;
text-align: center;
padding-left: 2%;
padding-right: 5%;
width: 75%;
display: inline-block;
height: 100px;
}
.mais {
padding-top: 5px;
float: right;
text-align: center;
padding-right: 2%;
width: 15%;
display: inline-block;
vertical-align: middle;
height: 100px;
}
  .miniatura {
  border: 4px solid #171717;
  border-radius: 16px;
  padding-right: 0px;
  width: 94%;
  }  
