@media screen and (max-width: 800px) {
body {
margin: 0;
padding: 0;
background: url(https://i.imgur.com/GSVopxs.png);
}
.coluna1 {
padding-top: 10px;
padding-bottom: 10px;
width: 49%;
text-align: center;
vertical-align: middle;
display: inline-block;
}
.ads {
float: left;
text-align: center;
padding-left: 2%;
width: 80%;
display: inline-block;
height: 100px;
}
.miniatura {
  border: 4px  solid #171717;
  border-radius: 16px;
  padding-right: 0px;
  width: 94%
  }
}
@media screen and (min-width: 801px) {
body {
margin: 0;
padding: 0;
background: url(https://i.imgur.com/GSVopxs.png);
}
.coluna1 {
padding-top: 10px;
padding-bottom: 10px;
width: 6.8%;
text-align: center;
vertical-align: middle;
display: inline-block;
}
.ads {
float: left;
text-align: center;
padding-left: 2%;
width: 80%;
display: inline-block;
height: 100px;
}
.miniatura {
  border: 4px  solid #171717;
  border-radius: 16px;
  padding-right: 0px;
  width: 94%
  }
}
